.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

.cont-login {
  margin: 20px auto;
  width: 350px;
  padding: 18px 15px 17px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.cont-login a {
  text-decoration: none;
}

.cont-login .txt-login {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.cont-login .link-login {
  display: block;
  padding: 10px 0 12px;
  margin-bottom: 16px;
  background: #711bff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: white;
}

.link-login .img-logo {
  vertical-align: bottom;
}

.cont-login .cont-find {
  float: left;
}

.cont-login .cont-join {
  float: right;
}

.cont-find .img-find {
  float: left;
  margin-right: 4px;
}

.cont-find .link-pw::after {
  float: left;
  display: block;
  content: "";
  width: 1px;
  height: 12px;
  margin: 2px 4px;
  background-color: #767676;
}

.cont-find [class^="link"] {
  float: left;
}

.cont-login .cont-join {
  float: right;
}

.cont-join [class$="join"] {
  float: left;
}

.cont-join .img-join {
  margin-right: 4px;
}
