h1 {
  margin: 0;
}

body {
  background: #e5e5e5;
  font-family: Spoqa Han Sans Neo;
}

.loginBox > h1 {
  font-size: 12px;
  font-weight: 400;
  padding: 19px 0 0 16px;
}

.loginBox {
  position: relative;
  width: 350px;
  height: 140px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: white;
  margin: 50px auto;
}

.loginBtn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 318px;
  height: 40px;
  background: #711bff;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.loginBtn:hover {
  background: #4b13a7;
}

.wenivLogo {
  width: 56.58px;
  text-align: center;
}

.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;

  width: 318px;

  font-size: 12px;
  font-weight: 400;
  color: #767676;
}

.wrapper a {
  text-decoration: none;
}

.find_id {
  display: inline;
}

#wrapper.find_id::before {
  content: " ";
  width: 16px;
  height: 16px;
  background-image: url(./img/icon-lock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.find_pw::before {
  content: "|";
}
.signUp {
  float: right;
}
.signUp::before {
  content: "";
  background-image: url(./img/icon-user.png);
  background-size: 2px;
  background-repeat: no-repeat;
}
